:root {
  --color-background: linear-gradient(to bottom right, #181824, #232335, #181824);
  --color-bg-solid: #181824; /* Para casos donde no uses gradiente */
  --color-bg-card: #232335;
  --color-text: #ffffff;
  --color-primary: #a78bfa; /* Morado principal/acento */
  --color-primary-hover: #bfaaff;
  --color-accent: #a78bfa; /* Puedes unificarlo con primary */
  --color-muted: #a1a1aa;
  --color-muted-2: #d1d5db;
  --color-border: #2a2a2a;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background: var(--color-background);
  color: var(--color-text);
}
